<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body id="success">
	<h1 id="msg">登录成功</h1>
</body>
<script type="text/javascript">
	setTimeout(function(){
		document.getElementById("msg").style.top = "20%";
	}, 200);
</script>
</html>